<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <section id="title">
      <h1>ROCK / PAPER / SCISSORS</h1>
    </section>

    <section id="choices">
        <IMG data-option="rock" src="images/rock.png" alt="Image of a hand with a clanched fist">
        <IMG data-option="paper" src="images/paper.png" alt="Image of a hand">
        <IMG data-option="scissors" src="images/scissors.png" alt="Image of a hand making scissors" allign="middle">
    </section>

    <section id="showresult">
      <h2 id="result"></h2>
    </section>

    <script type="text/javascript" src="rockPaperScissors.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="game.js"></script>
  </body>
</html>
