body {
	background-color: #c5d9ba;
    /*background-color: #b0c4de;*/
    margin 15px 0 0 30px;
}

section#title {
	font-family: "TARJustAMonday", Helvetica, Arial, sans-serif ;
	color: #be422e;
	font-size: 25px;
	text-align: center;
}

.choices img {
	margin-top: 5%;
	width: 15%;
	margin-right: 5%;
	margin-left: auto;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.5s ease;
}

.choices img:hover {
	opacity: 1;
}

#result {
	font-family: "TARJustAMonday", Helvetica, Arial, sans-serif ;
	color: #be422e;
	font-size: 18px;
	text-align: center;
}

section#showresult {
	margin-top: 5%;
}